body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}

.dbgltxtcenter {
    background-color: darkslategrey;
    color: aliceblue;
    text-align: center;
}

.lgreybg1em {
    background-color: lightgrey;
    padding: 1em;
}

.questions {
    background-color: aliceblue;
}