body {
    background-image: url("record.png");
    background-repeat: repeat;
}

.dbgltxt {
    background-color: darkslategrey;
    color: aliceblue;
    text-align: center;
}

.lgreybg {
    background-color: lightgrey;
}
